# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List of popular languages for Data Science
* List of commonly used libraries used for Data Science
* Example of Table creation
* Example of evaluation of arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. pandas
3. SciPy
4. Plotly
5. PyTorch
6. NLTK

| Data Science Tools |
| ----------- |
| Jupyter Notebook |
| RStudio |
| VS Code |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [5]:
200/60

3.3333333333333335

## Author
Cesar Augusto Ortega Bailon